{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "p-actions": "./src/actions",
          "p-components": "./src/components",
          "p-pages": "./src/pages",
          "p-utils": "./src/utils",
          "p-styles": "./src/styles",
          "p-reducers": "./src/reducers"
        }
      }
    ]
  ]
}
